__pycache__/
evaluate.py~
make_palindrome.py~
mode.py~
palindrome.py~
square_table.py~
tables.py~
*.py~	
calculate_fomula.py~
convert_to_list_tuple.py~
divisible.py~
fact.py~
freq.py~
in_output_str.py~
square_range_in_dict.py~
two_dimensional_array.py~
panagram.py~
breakdown.py~
.gitignore~
#.gitignore#


